<ion-header>
    <ion-toolbar>
        <ion-title>
            Busca
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- Searchbar with cancel button always shown -->
<h1>Econtre serviços</h1>
<ion-searchbar showCancelButton="always"></ion-searchbar>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/manicure.png" alt="" />
        <ion-card-header>
            <ion-card-subtitle>Manicure e Pedicure.</ion-card-subtitle>
            <ion-card-title>Conheça nossos serviços</ion-card-title>
            <ion-card-content>Hórario de atendimento:</ion-card-content>
            <ion-card-content>8hrs ás 16hrs</ion-card-content>
        </ion-card-header>
        <ion-card-content>
            <p>Uma equipe de profissionais está esperando por você, com atendimento a domicilio ou não. Mands aqui quem manda e você.</p>
        </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <img src="/assets/pedicure.png" alt="" />
        <ion-card-header>
            <ion-card-subtitle>Manicure e Pedicure.</ion-card-subtitle>
            <ion-card-title>Conheça nossos serviços</ion-card-title>
            <ion-card-content>Hórario de atendimento:</ion-card-content>
            <ion-card-content>8hrs ás 16hrs</ion-card-content>
        </ion-card-header>
        <ion-card-content>
            <p>Uma equipe de profissionais está esperando por você, com atendimento a domicilio ou não. Mands aqui quem manda e você.</p>
        </ion-card-content>
    </ion-card>


    <ion-card class="welcome-card">
        <img src="/assets/cabelo.png" alt="" />
        <ion-card-header>
            <ion-card-subtitle>Manicure e Pedicure.</ion-card-subtitle>
            <ion-card-title>Conheça nossos serviços</ion-card-title>
            <ion-card-content>Hórario de atendimento:</ion-card-content>
            <ion-card-content>8hrs ás 16hrs</ion-card-content>
        </ion-card-header>
        <ion-card-content>
            <p>Uma equipe de profissionais está esperando por você, com atendimento a domicilio ou não. Mands aqui quem manda e você.</p>
        </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <img src="/assets/maquiagem.png" alt="" />
        <ion-card-header>
            <ion-card-subtitle>Manicure e Pedicure.</ion-card-subtitle>
            <ion-card-title>Conheça nossos serviços</ion-card-title>
            <ion-card-content>Hórario de atendimento:</ion-card-content>
            <ion-card-content>8hrs ás 16hrs</ion-card-content>
        </ion-card-header>
        <ion-card-content>
            <p>Uma equipe de profissionais está esperando por você, com atendimento a domicilio ou não. Mands aqui quem manda e você.</p>
        </ion-card-content>
    </ion-card>
</ion-content>