<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="feed">
            <ion-icon name="search"></ion-icon>
            <ion-label>Buscar</ion-label>
        </ion-tab-button>

        <div *ngIf="profissional ; else naoProfissional ">
            <ion-tab-button tab="profissional">
                <ion-icon name="happy"></ion-icon>
                <ion-label>perfil</ion-label>
            </ion-tab-button>

        </div>
        <ng-template #naoProfissional>
            <ion-tab-button tab="usuario">
                <ion-icon name="happy"></ion-icon>
                <ion-label>perfil</ion-label>
            </ion-tab-button>

        </ng-template>

    </ion-tab-bar>

</ion-tabs>