<ion-header>
    <ion-toolbar class="titulo" color="primary">
        <ion-title>{{titulo}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>

        <ion-card-header>

            <ion-card-subtitle>
                <div class="row">
                    <div class="col-sm-6">
                        <app-usuario-foto></app-usuario-foto>
                    </div>
                    <div class="col-sm-6">
                        <app-usuario-perfil></app-usuario-perfil>
                    </div>
                </div>



            </ion-card-subtitle>

            <ion-card-title>Nome do usario</ion-card-title>
        </ion-card-header>


        <ion-card-content>
            Descrição do usuario
        </ion-card-content>
    </ion-card>

    <h1>
        serviços favoritos
    </h1>
    <div class="row">
        <div class="col-sm-6">
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Nome profissional 1</ion-card-subtitle>
                    <ion-card-title>Card Title</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
                </ion-card-content>
            </ion-card>
        </div>
        <div class="col-sm-6">
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Nome profissional 2 </ion-card-subtitle>
                    <ion-card-title>Card Title</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
                    <ion-card-subtitle>Classificacao</ion-card-subtitle>

                </ion-card-content>
            </ion-card>
        </div>
    </div>

    <div *ngIf="profissional ; else naoProfissional">
        <ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button>
                <ion-icon name="add" routerLink="/usuario/profissional"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>

    <ng-template #naoProfissional>

        <div>
            <ion-fab vertical="top" horizontal="end" slot="fixed">
                <ion-fab-button>
                    <ion-icon name="add" routerLink="/usuario/criacao-do-profissional"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </div>
    </ng-template>

</ion-content>