<ion-header>
    <ion-toolbar>
        <ion-title>Usuario</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>

        <ion-card-header>

            <ion-card-subtitle>
                <ion-icon name="contact" class="icon-user-1">
                </ion-icon>



            </ion-card-subtitle>

            <ion-card-title>Nome do usario</ion-card-title>
        </ion-card-header>


        <ion-card-content>
            Descrição do usuario
        </ion-card-content>
    </ion-card>

    <h1>
        serviços favoritos
    </h1>



    <ion-card>
        <img src="/src/assets/perfil.jpg" alt="" />
        <ion-card-content>
            <ion-card-title>
                Marcela
            </ion-card-title>
            <p>
                Detalhamento da descrição do profissional
            </p>
        </ion-card-content>
    </ion-card>

</ion-content>