<ion-header>
    <ion-toolbar color="primary" aling="center">
        <ion-title>Agendar-Serviços</ion-title>
    </ion-toolbar>
</ion-header>



<ion-content>
    <ion-item>
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime display-format="DD.MM.2019 HH:mm" minuteValues="0,30" [(ngModel)]="date"></ion-datetime>
        </ion-item>
    </ion-item>
    <ion-item>
        <ion-input type="text" placeholder="Descrição do seu serviço" [(ngModel)]="descricao"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Manicure</ion-label>
        <ion-checkbox color="dark" checked="true" [(ngModel)]="manicure"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label>Pedicure</ion-label>
        <ion-checkbox color="dark" checked="true" [(ngModel)]="pedicure"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label>Cabelo</ion-label>
        <ion-checkbox color="dark" checked="true" [(ngModel)]="cabelo"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label>Maquiagem</ion-label>
        <ion-checkbox color="dark" checked="true" [(ngModel)]="maquiagemgit"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label>Atendimento Domicilio</ion-label>
        <ion-checkbox color="dark" checked="true" [(ngModel)]="atendimentoDomicilio"></ion-checkbox>
    </ion-item>








    <p>{{ viewTitle }}</p>
    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" startHour="6"
        endHour="22" startingDayWeek="1" [locale]="calendar.locale">
    </calendar>






    <ion-grid fixed>
        <ion-row>

            <ion-col size="6">
                <ion-button routerLink="/usuario/feed" color="danger">
                    <ion-icon slot="start" name="star"></ion-icon>
                    Voltar
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button (click)="onSubmit()" routerLink="/usuario/profissional">
                    <ion-icon slot="start" name="star"></ion-icon>
                    Salvar
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>