<ion-header>
    <ion-toolbar color="primary" aling="center">
        <ion-title>Agendar-Serviços</ion-title>
    </ion-toolbar>
</ion-header>



<ion-content>




    <ion-item>
        <ion-input type="text" placeholder="Descrição do seu serviço" [(ngModel)]="descricao"></ion-input>
    </ion-item>
    <ion-item *ngIf="dados.pro.manicure">
        <ion-label>Manicure</ion-label>
        <ion-label>R${{ dados.pro.precoManicure }},00</ion-label>
        <ion-checkbox color="dark" checked="true" [(ngModel)]="manicure"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="dados.pro.pedicure">
        <ion-label>Pedicure</ion-label>
        <ion-label>R${{ dados.pro.precoPedicure }},00</ion-label>
        <ion-checkbox color="dark" checked="true" [(ngModel)]="pedicure"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="dados.pro.cabelo">
        <ion-label>Cabelo</ion-label>
        <ion-label>R${{ dados.pro.precoCabelo }},00</ion-label>
        <ion-checkbox color="dark" checked="true" [(ngModel)]="cabelo"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="dados.pro.maquiagem">
        <ion-label>Maquiagem</ion-label>
        <ion-checkbox color="dark" checked="true" [(ngModel)]="maquiagemgit"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="dados.pro.atendimentoDomicilio">
        <ion-label>Atendimento Domicilio</ion-label>
        <ion-checkbox color="dark" checked="true" [(ngModel)]="atendimentoDomicilio"></ion-checkbox>
    </ion-item>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="6">
                <ion-button (click)="today()">
                    Dia
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button (click)="changeMode('month')">
                    Mês
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>












    <p>{{ viewTitle }}</p>
    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" startHour="6"
        endHour="22" startingDayWeek="1" [locale]="calendar.locale" (onCurrentDateChanged)="onCurrentDateChanged($event)">
    </calendar>





    <!--
    <ion-grid fixed>
        <ion-row>

            <ion-col size="6">
                <ion-button routerLink="/usuario/feed" color="danger">
                    <ion-icon slot="start" name="star"></ion-icon>
                    Voltar
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button (click)="onSubmit()" routerLink="/usuario/profissional">
                    <ion-icon slot="start" name="star"></ion-icon>
                    Salvar
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
-->

</ion-content>