<ion-header>
    <ion-toolbar>
        <ion-title>profissional</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-app>


        <ion-card-content fullscreen>
            <ion-grid>
                <ion-row align-items-start>
                    <ion-col>
                        <ion-avatar>
                            <img src="../../../../assets/perfil.jpg" alt="">
                        </ion-avatar>
                    </ion-col>
                    <ion-col>
                        <img src="exibeAvaliacao()">

                    </ion-col>
                    <ion-col align-self-end>

                        <ion-button (click)="irParaAgendamento()">
                            agendar
                        </ion-button>

                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-card>

                <img src="./pages/usuario/foto/umafoto.png" />
                <ion-card-header>
                    <ion-card-subtitle>{{ data.nome }}</ion-card-subtitle>
                    <ion-card-title>Conheça meus serviços</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    {{data.descricaoServico}}
                </ion-card-content>

            </ion-card>


            <ion-chip>

                <ion-label>Atendimento Domicilio</ion-label>
                <ion-icon name="checkmark"></ion-icon>
            </ion-chip>
            <ion-chip>

                <ion-label>manicure</ion-label>
                <ion-icon name="checkmark"></ion-icon>
            </ion-chip>
            <ion-chip>

                <ion-label>Pedicure</ion-label>
                <ion-icon name="checkmark"></ion-icon>
            </ion-chip>





        </ion-card-content>
    </ion-app>


</ion-content>