<ion-header>
  <ion-toolbar>
    <ion-title>profissional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-app>
       
        <ion-content fullscreen>
          <ion-card>
       
            <img src="./pages/usuario/foto/umafoto.png" />
            <ion-card-header>
              <ion-card-subtitle>Lucas</ion-card-subtitle>
              <ion-card-title>Conheça meus serviços</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ion-app>
    

</ion-content>


 

