.cornome {
    color: black;
}

.descricao {
    color: black;
    font-style: italic;
}

.badge {
    background: #CD5C5C;
    border-radius: 3px;
    color: #fff;
    z-index: 999999;
    font-weight: 600;
    padding: 2px 6px;
    box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 2px 5px rgba(225,225,225,.3);
    font-size: 13px;
    margin-left: 5px;
    position: relative;
    display: inline-block;
    top: -1px;
}