<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Feed</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-searchbar placeholder="Busque"></ion-searchbar>
    <!-- Codigo para fazer a listagem dos itens que existem no vetor 'user[]' -->
    <ion-label>
        <p>
            <ion-list *ngFor="let user of (user | async)">
                <!-- Para ler qualquer vetor da classe 'Observable' tem que usar a função '(variavel | async)', só assim para mostrar as informações -->
                <ion-item *ngIf="user.profissionalAtivo" (click)="paginaProfissional(user)">
                    <!-- Criei uma variavel com a string 'Pro' para fazer a comparação -->
                    <ion-label>

                        <ion-list>
                            <img src="../../../../assets/icon/estrelaVazia.png">
                            <img src="../../../../assets/icon/estrelaVazia.png">
                            <img src="../../../../assets/icon/estrelaVazia.png">
                            <img src="../../../../assets/icon/estrelaVazia.png">
                            <img src="../../../../assets/icon/estrelaVazia.png">
                            <ion-avatar item-start>
                                <img src="../../../../assets/perfil.jpg">
                            </ion-avatar>
                            <h2 style="color: brown;">{{user.nomePro}}</h2>
                            <p>{{user.descricaoServico}}</p>
                        </ion-list>

                    </ion-label>

                </ion-item>
            </ion-list>
        </p>
    </ion-label>



    <ion-card *ngFor="let user of (user | async)">
        <ion-card *ngIf="user.profissionalAtivo" (click)="paginaProfissional(user)">
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="6">
                        
                        <ion-avatar item-start>
                            <img src="../../../../assets/avatarteste.png">
                        </ion-avatar>
                    </ion-col>
                    <ion-col size="6">
                            <h2>{{user.nomePro}}</h2>
                    </ion-col>
                </ion-row>
            </ion-grid>
            
          
            <p>{{user.descricaoServico}}</p>
            <img src="../../../../assets/manicure.png">

            <ion-card-content>
                <p>Entre no perfil para obter mais informações.</p>
            </ion-card-content>
        </ion-card>
    </ion-card>




</ion-content>