<ion-header>
    <ion-toolbar>
        <ion-title>feed</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="Busque"></ion-searchbar>


    <!-- Codigo para fazer a listagem dos itens que existem no vetor 'user[]' -->
    <ion-label>
        <p>
            <ion-list *ngFor="let user of (user | async)">
                <!-- Para ler qualquer vetor da classe 'Observable' tem que usar a função '(variavel | async)', só assim para mostrar as informações -->
                <ion-item *ngIf="user.profissionalAtivo">
                    <!-- Criei uma variavel com a string 'Pro' para fazer a comparação -->
                    <ion-label>
                        <h3 style="color :red">
                            {{ user.nomePro }} - {{ user.idade }}
                        </h3>

                        {{ user.nome }}

                        <ion-grid fixed>
                            <ion-row>
                                <ion-col>
                                    <ion-avatar slot="start">
                                        <ion-skeleton-text animated></ion-skeleton-text>

                                    </ion-avatar>
                                </ion-col>
                                <ion-col>{{user.classificacao}}</ion-col>
                            </ion-row>
                        </ion-grid>





                    </ion-label>





                </ion-item>
            </ion-list>
        </p>
    </ion-label>


</ion-content>