/*page-feed{
  
}
.card-background-feed {

  h2 {
    position: relative;
    text-align:inherit;
    background: blue;
  }

  .h2 {
    text-align: center;
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
  .button-card{
    text-align: center;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

} 


.h2 {
    text-align: center;
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: rgb(255, 255, 255);
  } */

.descricao{
  
  color: black;
  font: 20;
  
  
}  
  

.body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #7084ff;
}