<ion-header>
    <ion-toolbar color="primary" style="text-align: center">
        <ion-title>Mands</ion-title>
    </ion-toolbar>
</ion-header>

<!--  <ion-searchbar placeholder="Busque"></ion-searchbar>-->

<ion-content>
    <ion-card *ngFor="let user of (user | async)" style="background-image: linear-gradient(rgb(221, 201, 219), rgb(76, 135, 243)">
        <ion-card *ngIf="user.profissionalAtivo" (click)="paginaProfissional(user)" style="background-image: linear-gradient(rgb(224, 223, 230), rgb(224, 223, 223)">
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="6">

                        <ion-avatar item-start>
                            <img src="../../../../assets/avatar.jpg">
                        </ion-avatar>
                    </ion-col>
                    <ion-col size="6">
                        <h4 class="descricao">{{user.nomePro}}</h4>
                    </ion-col>
                </ion-row>
            </ion-grid>


            <h6 class="descricao">{{user.descricaoServico}}</h6>

            <h6 class="descricao">
                <font size="2">Entre no perfil para obter mais informações.</font>
            </h6>

        </ion-card>
    </ion-card>


</ion-content>