<ion-app>
    <ion-header translucent>
        <ion-toolbar color="primary">
            <ion-title>Completar Conta</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-item>
            <ion-input type="string" placeholder="NomeProfissional" [(ngModel)]="pro.nomePro"></ion-input>
        </ion-item>
        <ion-item>
                <ion-input type="string" placeholder="Descrição Dos Servoços" [(ngModel)]="pro.descricaoServico"></ion-input>
            </ion-item>
        <ion-item>
            <ion-input type="number" placeholder="Idade" [(ngModel)]="pro.idade"></ion-input>
        </ion-item>



        <ion-item>
            <ion-label>Atendimento a domicilio</ion-label>
            <ion-toggle [(ngModel)]="pro.atendimentoDomicilio"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>manicure</ion-label>
            <ion-toggle [(ngModel)]="pro.manicure"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Pedicure</ion-label>
            <ion-toggle [(ngModel)]="pro.pedicure"></ion-toggle>
        </ion-item>
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-button routerLink="/usuario">
                        <ion-icon slot="start" name="star"></ion-icon>
                        Voltar
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button (click)="addPro()">
                        <ion-icon slot="start" name="star"></ion-icon>
                        Salvar
                    </ion-button>
                </ion-col>

            </ion-row>
        </ion-grid>


    </ion-content>
</ion-app>