<ion-app>
    <ion-header translucent>
        <ion-toolbar color="primary" style="text-align: center">
            <ion-title>Criar perfil profissional</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-item>
            <ion-input type="string" placeholder="NomeProfissional" [(ngModel)]="pro.nomePro"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="string" placeholder="Descrição Dos Serviços" [(ngModel)]="pro.descricaoServico"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="number" placeholder="Sua idade" [(ngModel)]="pro.idade"></ion-input>
        </ion-item>


        <ion-item color="tertiary">
            <ion-label style="text-align: center">
                Defina seus serviços
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Atendimento a domicilio</ion-label>
            <ion-toggle [(ngModel)]="pro.atendimentoDomicilio"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>manicure</ion-label>
            <ion-toggle [(ngModel)]="pro.manicure"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Pedicure</ion-label>
            <ion-toggle [(ngModel)]="pro.pedicure"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Cabelo</ion-label>
            <ion-toggle [(ngModel)]="pro.cabelo"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Maquiagem</ion-label>
            <ion-toggle [(ngModel)]="pro.maquiagem"></ion-toggle>
        </ion-item>
        <ion-item color="tertiary">
            <ion-label style="text-align: center">
                Defina seus preços
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-input type="number" placeholder="Valor da Manicure" [(ngModel)]="pro.precoManicure"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="number" placeholder="Valor da Pedicure" [(ngModel)]="pro.precoPedicure"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="number" placeholder="Valor do cabelo" [(ngModel)]="pro.precoCabelo"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="number" placeholder="Valor da Maquiagem" [(ngModel)]="pro.precoMaquiagem"></ion-input>
        </ion-item>


        <ion-item color="tertiary">
            <ion-label style="text-align: center">
                Monte Seus Horarios de atendimento
            </ion-label>
        </ion-item>
        <ion-list>
            <ion-item>
                <ion-label>Dias</ion-label>
                <ion-select [(ngModel)]="pro.diaDaSemanaPro" multiple="true" cancelText="cancelar" okText="Marcar">
                    <ion-select-option *ngFor="let dia of dias"> {{dia.dia}}</ion-select-option>
                </ion-select>
            </ion-item>



            <ion-item>
                <ion-label>Manha</ion-label>
                <ion-select [(ngModel)]="pro.horarioManhaPro" multiple="true" cancelText="cancelar" okText="Marcar">
                    <ion-select-option *ngFor="let hora of manha">{{hora.hora}}:00 AM</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Tarde</ion-label>
                <ion-select [(ngModel)]="pro.horarioTardePro" multiple="true" cancelText="cancelar" okText="Marcar">
                    <ion-select-option *ngFor="let hora of tarde">{{hora.hora}}:00 PM</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Noite</ion-label>
                <ion-select [(ngModel)]="pro.horarioNoitePro" multiple="true" cancelText="cancelar" okText="Marcar">
                    <ion-select-option *ngFor="let hora of noite">{{hora.hora}}:00 PM</ion-select-option>
                </ion-select>
            </ion-item>


        </ion-list>






        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-button routerLink="/usuario" color="danger">
                        <ion-icon slot="start" name="star"></ion-icon>
                        Voltar
                    </ion-button>
                </ion-col>

                <ion-col size="6">
                    <ion-button (click)="addPro()" routerLink="/usuario/profissional">
                        <ion-icon slot="start" name="star"></ion-icon>
                        Salvar
                    </ion-button>
                </ion-col>

            </ion-row>
        </ion-grid>


    </ion-content>
</ion-app>