<ion-app>
    <ion-header translucent>
        <ion-toolbar color="primary">
            <ion-title>Completar Conta</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-item>
            <ion-input type="string" placeholder="NomeProfissional"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="number" placeholder="Idade"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Nome"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Nome"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Nome"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Sausage</ion-label>
            <ion-toggle></ion-toggle>
        </ion-item>
    </ion-content>
</ion-app>