<ion-header>
    <ion-toolbar color="primary">
        <ion-title style="text-align: center;">notificações</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="data.profissionalAtivo">
        <ion-card *ngFor="let agen of agendamento ">
            <ion-label>Nome: {{ agen.nomeUsuario}} <br></ion-label> <br>
            <ion-label>Descrição: {{agen.descricao}} <br> </ion-label>
            <ion-label>Hora/Hora: {{ agen.dataHora.toDate() | date:'dd/MM/yyyy - HH:mm' }} <br> </ion-label>
            <ion-label>Domicilio: {{ agen.atendimentoDomicilio}}<br> </ion-label>
            <ion-label>Numero da casa: {{ agen.numeroResidenciaUsuario}}<br> </ion-label>
            <ion-label>Bairro: {{ agen.bairroUsuario}}<br> </ion-label>
            <ion-label>Rua: {{ agen.ruaUsuario}}<br> </ion-label>
            <!-- <ion-label>{{ usuario.id }}</ion-label> -->
            <ion-button (click)="confirmarAgendamento(agen)">
                Confirma?
            </ion-button>

            <!-- <ion-label>Data: {{ agen.date }}</ion-label> <br> -->

        </ion-card>
    </div>

    <div *ngIf="data.profissionalAtivo == false">
        <ion-card *ngFor="let agen of agendamento ">

            <ion-card-header *ngIf="agen.pendente">
                <ion-card-subtitle>Em Aguardo</ion-card-subtitle>
                <ion-card-title>Este Agendamento Está pendente</ion-card-title>
            </ion-card-header>

            <ion-card-header *ngIf="agen.pendente == false && agen.confirmacao">
                <ion-card-subtitle>Confirmado</ion-card-subtitle>
                <ion-card-title>Este agendamento está confirmado</ion-card-title>
            </ion-card-header>

            <ion-card-header *ngIf="agen.pendente == false && agen.confirmacao == false">
                    <ion-card-subtitle>Cancelado</ion-card-subtitle>
                    <ion-card-title>Este agendamento está Cancelado</ion-card-title>
                </ion-card-header>

            <ion-label>Nome: {{ agen.nomeFantasia}}<br> </ion-label>
            <ion-label>Descrição: {{agen.descricao}} <br> </ion-label>
            <ion-label>Hora/Hora: {{ agen.dataHora.toDate() | date:'dd/MM/yyyy - HH:mm' }} <br></ion-label>
            <ion-label>Domicilio: {{ agen.atendimentoDomicilio}}<br> </ion-label>
            <ion-label>Numero da casa: {{ agen.numeroResidenciaPro}}<br> </ion-label>
            <ion-label>Bairro: {{ agen.bairroPro}}<br> </ion-label>
            <ion-label>Rua: {{ agen.ruaPro}}<br> </ion-label>

            <ion-card-content *ngIf="agen.pendente == false && agen.confirmacao == false">
                    Não foi possível confirmar sua solicitação de agendamento, entraremos em contato por meio do seu telefone!
            </ion-card-content>
        </ion-card>
    </div>


    <ion-text color="primary">

    </ion-text>
</ion-content>